@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 36 100% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 36 100% 50%;
    --chart-3: 231 30% 60%;
    --chart-4: 36 80% 65%;
    --chart-5: 220 15% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 230 20% 6%;
    --foreground: 0 0% 98%;
    --card: 230 20% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 230 20% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 75%;
    --primary-foreground: 231 48% 15%;
    --secondary: 230 20% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 20% 12%;
    --muted-foreground: 230 10% 65%;
    --accent: 36 100% 60%;
    --accent-foreground: 36 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 12%;
    --input: 230 20% 12%;
    --ring: 231 48% 75%;
    --chart-1: 231 48% 75%;
    --chart-2: 36 100% 60%;
    --chart-3: 231 40% 60%;
    --chart-4: 36 90% 70%;
    --chart-5: 220 20% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
